{% extends 'Layout.twig' %}
{% block content %}
<div class="form">
	<form method="POST" action="/products/save">
		<input type="hidden" name="id" value="{{ id | e }}">	
		<div class="label">Наименование: 	
			<input type="text" name="name" value="{{ name | e }}">
		</div>
		<div class="label">Идентификатор: 
			<input type="text" name="UUID" value="{{ UUID | e }}">
		</div>
		<div class="button_container">
			<button type="submit">Сохранить</button>
			<button type="reset" onclick="location.href='/products'">Отменить</button>
		<div>
	</form>
	</div>
{% endblock %}