{% macro list(items, step = 0) %}
    {% import _self as tree %}
 
    <ul>
    {% for item in items %}
        {% if item.pid == step %}
        <li>
            {{ item.name }}
            {{ tree.list(items, item.id) }}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}